.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}


.navbar .logo{
    width: 230px;
    height: auto;
}


.navbar .profile{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    object-fit: cover;
}